@import './_partial/vendors/highlightStyles/atom-one-dark';
@import './_partial/abstracts/_maxins';

$breakpoints: (
  'xs': 'only screen and (max-width: 760px)',
  'sm': 'only screen and (min-width: 761px) and (max-width: 1279px)',
  'md': 'only screen and (min-width: 1280px) and (max-width: 1399px)',
  'lg': 'only screen and (min-width: 1400px)',
) !default;

.hljs {
  margin: 10px 0 20px !important;
  padding: 15px 20px !important;
  font-family: Consolas, 'Courier New', monospace !important;
  border-radius: 5px;

  @include respond-to(xs) {
    font-size: 0.9rem !important;
    padding: 10px 15px !important;
  }
}