@import './_partial/abstracts/_maxins';

$theme_color_dark: rgb(0, 0, 0);        /* 主题色之一，暗色 */
$theme_color_light_green: rgb(65, 218, 167); /* 主题色之一，亮绿色 */
$theme_color_deep_blue: rgb(72, 120, 154);

/* 页面主要内容在不同大小屏幕下的宽度 */
$main_width_lg: 55%;  /*  大屏  */
$main_width_md: 65%;  /*  中等  */
$main_width_sm: 80%;  /*  小屏  */
$main_width_xs: 100%; /* 超小屏 */

$breakpoints: (
  'xs': 'only screen and (max-width: 760px)',
  'sm': 'only screen and (min-width: 761px) and (max-width: 1279px)',
  'md': 'only screen and (min-width: 1280px) and (max-width: 1399px)',
  'lg': 'only screen and (min-width: 1400px)',
) !default;


@font-face{
  font-family: 'Sylfaen' !important;
  src : url('../fonts/Sylfaen.ttf');
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Arial","Microsoft YaHei","黑体","宋体",monospace;
  background-color: white;
}

.main {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  transition: all ease 1s;

  @include respond-to(xs) {
    width: 100% !important;
  }
}

.full-width {
  width: 100%;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  transition: all ease 1s;
}

.eighty-width {
  width: 80%;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  transition: all ease 1s;
}

.me {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100vh;
  text-align: center;
  background-color: rgb(234, 246, 255);
  z-index: 9999;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  transition: all ease 1s;

  @include respond-to(xs) {
    display: none;
  }

  .avatar {
    margin: 14% 0 10px;
    width: 80%;
    border-radius: 10px;
    -webkit-transition: all ease 0.6s;
    -moz-transition: all ease 0.6s;
    transition: all ease 0.6s;
  }

  .me-p {
    text-indent: 1rem;
    padding: 0 10%;
    text-align: left;
    line-height: 1.2rem;
    font-size: 1rem;
    font-family: 'Sylfaen';
    word-spacing: 1px;
    letter-spacing: 1px;
    word-break: keep-all;
    color: rgb(100, 100, 100);
    -webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    transition: all ease 0.4s;

    &::after, &::before {
      content: '"';
    }
  }

  .links {
    margin: 30px 10%;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;

    .link {
      display: inline-block;
      margin: 0 10px;
      width: 32px;
      height: 32px;
      cursor: pointer;
    }  

    .github-link {
      background: url('../img/GitHub.png') no-repeat center;
      background-size: 32px 32px;
    }

    .mail-link {
      background: url('../img/mail.png') no-repeat center;
      background-size: 32px 32px;
    }
  }

  /* “关于我” 图片、文字、链接 出现前的状态 */
  .avatar, .me-p, .links {
    opacity: 0;
    -webkit-transform: translateX(70%);
    -moz-transform: translateX(70%);
    -ms-transform: translateX(70%);
    transform: translateX(70%);
  }

  /* “关于我” 图片、文字、链接 出现后的状态 */
  .avatar-come, .p-come, .links-come {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    transition: all ease 1s;
  }
}

.close-me {
  width: 0;
}

.open-me {
  width: 20%;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  transition: all ease 1s;
}

@import './_partial/layout/_header';
@import './_partial/layout/_index';
@import './_partial/layout/_paginator';
@import './_partial/layout/_post';